<% title 'Дисконтная программа' %>
<div class="white-page">
<div class="page-header">
  <h1>Дисконтная программа</h1>
</div>
<div class="row">

  <div class="col-xs-12">


    <p>Дисконтная программа предполагает автоматическое начисление сумм покупок на

    личный счет клиента</p>

    <p>-В зависимости от сумм покупок – клиент получает возможность получить скидку. В

    зависимости от накоплений - % скидки увеличивается.</p>

    <p>-Для клиентов, участников дисконтной программы, совершивших покупки в розничном

    магазине - выдается дисконтная карта, для клиентов совершивших покупки в интернет

    магазине присваивается индивидуальный номер личного счета</p>

    <p>- Дисконтная программа является накопительной. Срок действия накопительной

    дисконтной программы не ограничен и распространяется на весь

    срок действия дисконтной программы.</p>

    <p>-Возможность воспользоваться дисконтной программой предоставляется только

    зарегистрированным пользователям.</p>

    <p>-Суммы покупок в розничном и интернет магазине суммируются.</p>

    <p>-Скидка с 5% и сумма накопления начинает действовать, начиная со второй покупки</p>

    <p> - Покупатель становится участником дисконтной программы, если совершил разовую

    покупку на сумму от 3000 рублей и более.</p>

    <p>-Скидка с 5% и сумма накопления начинает действовать, начиная со второй покупки</p>

    <div class="page-header">
      <h3>Шаги и суммы накоплений</h3>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>Общая сумма накоплений</th>
        <th>Осталось приобрести, до следующего шага скидки</th>
        <th>Шаг скидки %</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>3000</td>
        <td>5</td>
        <td></td>
      </tr>
      <tr>
        <td>6000</td>
        <td>3000</td>
        <td>6</td>
      </tr>
      <tr>
        <td>9000</td>
        <td>3000</td>
        <td>7</td>
      </tr>
      <tr>
        <td>15000</td>
        <td>9000</td>
        <td>8</td>
      </tr>
      <tr>
        <td>25000</td>
        <td>10000</td>
        <td>9</td>
      </tr>
      <tr>
        <td>35000</td>
        <td>10000</td>
        <td>10</td>
      </tr>
      <tr>
        <td>45000</td>
        <td>10000</td>
        <td>11</td>
      </tr>
      <tr>
        <td>55000</td>
        <td>10000</td>
        <td>12</td>
      </tr>
      <tr>
        <td>193000</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>



    <p>Пример; клиент совершил покупку на 3000 рублей - он становится участником

    дисконтной программы и получает возможность при следующей покупки получить

    скидку 5%. Для того, что бы получить скидку 6%-ему необходимо совершить покупку

    еще на 3000 рублей, и при последующих покупок получать скидку 6% до следующего

    шага получения бОльшей скидки. Максимальное значение скидки 12% присваивается

    клиенту совершивших покупки на сумму 193 000 рублей</p>

    <p>-Возможность использования, применения НДК во время акций и др. мероприятий,

    проводимых компании определяет собственник компании. При предоставлении

    нескольких видов автоматических скидок - более бОльшая поглощает более меньшую</p>

    <p>-При возврате товара сумма накоплений на карте уменьшается на сумму возврата</p>

    <p>-Условия предоставления скидок и их размеры, введение новых преимуществ

    могут быть изменены Компанией</p>

    <p>- Информация, получаемая Компанией из анкет, используется Компанией с

    соблюдением Федерального закона «О персональных данных» No152-ФЗ от

    27.07.2006г., в том числе используется исключительно для исполнения договора

    розничной купли-продажи (например, для идентификации клиента при

    предоставлении ему скидки по накопительной дисконтной программе

    и заключения новых договоров с субъектом данных (предложения заключить договор

    купли-продажи товаров), а

    также для информирования владельцев дисконтных карт о предложениях в сети

    Рыбацкие Страсти, новых программах, вводимых Компанией.</p>
  </div>

</div>
</div>