<% title 'Подарочные карты' %>
<div class="white-page">
  <div class="page-header white-page">
    <h1>Подарочные карты</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <a href="#" class="thumbnail">
        <%= image_tag image_path('cert1.png')%>
      </a>
    </div>
    <div class="col-xs-6 col-md-6">
      <a href="#" class="thumbnail">
        <%= image_tag image_path('cert2.png')%>
      </a>
    </div>
  </div>
</div>