<% title 'Контактная информация' %>
<div class="white-page">
  <div class="row">
    <div class="col-xs-12">
      <h1>Контактная информация</h1>


      <p>Carplux.ru</p>

      <p>Почта : carplux@mail.ru</p>
      <p>Адрес : Город Пенза</p>
      <p>Телефон : 89273820205</p>



      <p>Интернет магазин работает круглосуточно</p>

      <p>Служба оформления заказов:</p>

      <p>понедельник-пятница: с 9:00 до 18:00 суббота, воскресенье: выходной день</p>

      <p> - только самое лучшее оборудование от именитых производителей Fox, Korda, Century, Trakker, Shimano, Daiwa , Chub  под заказ из Европы и Англии.</p>

      <p>- создан спортсменами-карпятниками , которые всегда проконсультируют в выборе оборудования.</p>

      <p> -скидки  постоянным Покупателям.</p>

      <p> -гарантия на оборудование.</p>



    </div>


  </div>

</div>