<% title 'Условия доставки' %>
<div class="white-page">
  <div class="page-header">
    <h1>Условия доставки</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">


      <p class="lead">1. Все цены в нашем интернет - магазине указаны без стоимости доставки в Россию.

        Мы рассчитываем стоимость доставки индивидуально, в зависимости от веса и габаритов товара.

        Оплата и оформление заказов  осуществляется двумя способами на выбор:

       </p>

      <p class="lead"> 2.  Покупатель оплачивает 100 % предоплату , товар напрямую  приезжает  до адресата из  Европы.
        От Покупателя требуется Ф.И.О. адрес, индекс , номер телефона.

        Покупатель  делает  предоплату в размере  от 20 до 50 %( по договоренности) от стоимости товара,  а после того , как заказ приезжает в г. Пенза , Покупатель оплачивает оставшуюся сумму и мы в этот же день отправляем заказ транспортной компанией Деловые линии, КИТ, ПЭК или Почтой России.
      </p>

      <% @deliveries.each do |delivery| %>
          <div class="page-header">
            <h3><small><%= image_tag delivery.logo.url(:thumb) if delivery.logo.present? %></small><%= delivery.name %> </h3>
          </div>
          <p class="lead">
            <%= delivery.description.html_safe %>
          </p>
      <% end %>





      <div class="page-header">
        <h3>4. Оплата заказа</h3>
      </div>
      <p class="lead">
        Перевод денежных средств, клиент осуществляет на наш ращётный счёт, после того как

        клиенту будет предоставлена квитанция с суммой заказа и номером ращётного счёта.
      </p>

      <div class="page-header">
        <h3>5.Примечания</h3>
      </div>
      <p class="lead">
        Также вы можете проконсультироваться с нашим специалистом менеджером по выбору товара,

        позвонив по нашему номеру, +7 927 382 02 05
      </p>

    </div>
  </div>
</div>