<% title 'Магазин' %>
<div class="row row-offcanvas row-offcanvas-right">


  <div class="col-xs-12 hidden-xs">

    <% @categories.each do |category| %>
        <div class="col-xs-12 col-sm-6 col-md-3" style="float: left">
          <div class="thumbnail shadow-radial product-block ">
            <%= link_to image_tag(category.title_image.url(:medium), :alt => category.title), shop_category_products_url(category) %>
            <div class="caption">
              <h3 style="text-align: center;"><%= link_to category.title, shop_category_products_url(category) %></h3>
            </div>
          </div>

        </div>
    <% end %>

  </div>
  <!--/span-->


</div>

