<% title 'Условия оплаты' %>
<div class="white-page">
  <div class="page-header">
    <h1>Условия оплаты</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>1. Наличный расчет</h3>

      <p class="lead">При наличной форме оплаты заказ, сделанный в Интернет-магазине, оплачивается Покупателем в момент получения товара со склада продавца.</p>

      <h3>2. Безналичный расчет</h3>

      <p class="lead">При оформлении заказа счет или квитанция формируются автоматически и выставляются для оплаты. Также счет или квитанцию на оплату можно будет распечатать через свой личный кабинет.</p>

      <p class="lead">Оплатить заказ можно через любой банк, действующий на территории России.</p>
      <p class="lead">Обратите внимание, что при оплате банк возьмет  за перевод  денежных средств дополнительную комиссию от  1,5 до 3%, которые не включены в счет.</p>

      <p class="lead">Срок зачисления денежных средств составляет  2-3 банковских  дня. Выдача (отгрузка) товара будет произведена после поступления в полном объёме денежных средств на расчетный счет. До момента их зачисления мы резервируем  на складе товары Вашего заказа.</p>

      <p class="lead">В случае непоступления денежных средств на расчетный счет в течении 5 календарных дней Ваш заказ будет аннулирован.</p>
    </div>


  </div>
</div>