<% title 'Публичная оферта' %>
<div class="white-page">
  <div class="page-header">
    <h1>Публичная оферта</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p >Индивидуальный предприниматель Шафран И.М. именуемый в дальнейшем «Продавец»,
        предлагает любому физическому лицу, в дальнейшем именуемому «Покупатель», приобрести товары по образцам
        интернет-магазина <a href="http://carp58.ru"> Рыбацкие страсти</a>.</p>

      <p >Настоящее предложение в соответствии с п. 2 ст. 437 Гражданского Кодекса РФ является Публичной
        офертой (далее – Договор), полным и безоговорочным принятием (акцептом) условий которого в соответствии со ст.
        438 Гражданского кодекса РФ считается осуществление Покупателем конклюдентных действий – оформление заказа на
        товар, представленный на Сайте Продавца <a href="http://carp58.ru"> carp58.ru</a>, в порядке и на условиях, установленных в настоящем
        Договоре. На основании вышеизложенного ознакомьтесь с текстом настоящего Договора, и если Вы не согласны с
        каким-либо пунктом Договора, Вам предлагается отказаться от покупки Товаров или использования услуг,
        предоставляемых Продавцом.</p>

      <p >1. Термины и определения</p>
      <p>
              1.1.В настоящей оферте, если контекст не
              требует иного, нижеприведенные термины имеют следующие значения и являются ее составной неотъемлемой
              частью:
      </p>
          <ul>
            <li>Продавец> — ИП Шафран И.М., Юр. адрес: 443029, г. Самара, ул. Просека 6, д. 143, кв. 29,
            </li>
            <li>Почт. адрес: 440000, г. Пенза, ул. Володарского, д. 78,
            </li>
            <li>ОГРНИП 308631907400072,  тел: 89023430800, e-mail: fishstrasti@mail.ru
            </li>
            <li>Покупатель — полностью дееспособное физическое лицо, размещающее Заказы на сайте <a href="http://carp58.ru"> carp58.ru</a>, либо указанное в качестве получателя Товара и использующее Товары, приобретенные на сайте <a href="http://carp58.ru"> carp58.ru</a>, исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности. Условия настоящей Оферты не распространяются на индивидуальных предпринимателей и юридических лиц, приобретающих Товар для использования в предпринимательской деятельности.
            </li>
            <li>
              Акцепт – полное
              и безоговорочное принятие Покупателем условий Договора.</li>
            <li>
              Заказ – должным
              образом оформленный запрос Покупателя на доставку по указанному адресу перечня Товаров, выбранных на
              Сайте.</li>
            <li>
              Интернет-магазин — официальный интернет-магазин Продавца ИП Шафран И.М., расположенный по  интернет адресу: г. Пенза, ул. Володарского, д. 78, <a href="http://www.carp58.ru">carp58.ru</a>  В рамках настоящего договора, понятия Интернет-магазин и Магазин, а так же интернет адреса <a href="http://carp58.ru"> carp58.ru</a> и производные от carp58.ru являются равносильными и трактуются аутентично, по контексту оферты.
            </li>
            <li>
              Личный кабинет
              – персональное пространство Покупателя на Сайте Продавца для осуществления Заказов. Доступ к Личному
              кабинету предоставляется Покупателю после успешного прохождения процедуры
              регистрации.</li>
            <li>
              Товар — объект
              соглашения сторон, перечень наименований ассортимента, представленный в официальном
              интернет-магазине.</li>
            <li>
              Служба доставки
              — третье лицо, оказывающее услуги по доставке Заказов Покупателям.</li>
          </ul>
      <p>2. Общие положения</p>

      <p >2.1. Заказывая Товары через Интернет-магазин, Покупатель соглашается с условиями продажи Товаров,
        изложенными в настоящем Договоре.</p>

      <p >2.2. Условия настоящего Договора, а также информация о Товаре, представленная на Сайте, являются
        Публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.</p>

      <p >2.3. К отношениям между Покупателем и Продавцом применяются положения ГК РФ о розничной
        купле-продаже (§ 2 глава 30), а также Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-1 и иные
        правовые акты, принятые в соответствии с ними.</p>

      <p >
        2.4. Продавец оставляет за собой право вносить изменения и/или дополнения в условия настоящего Договора, в связи с чем Покупатель обязуется регулярно отслеживать изменения/дополнения условий настоящего Договора, размещенного в разделе «<a href="http://carp58.ru/public_offer">Публичная оферта</a>». Продолжение пользования сервисами Сайта Покупателем после внесения Продавцом изменений/дополнений в настоящий Договор означает безусловное и полное принятие и согласие Покупателя с такими изменениями/дополнениями.
      </p>

      <p >2.5. Покупатель соглашается с условиями настоящего Договора нажатием кнопки 'Отправить заказ менеджеру' на последнем
        этапе оформления Заказа на Сайте.</p>


      <p>3. Регистрация на Сайте</p>

      <p>3.1. Для оформления Заказа Покупателю необходимо зарегистрироваться на Сайте.</p>

      <p>3.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой
        Покупателем при регистрации.</p>

      <p>3.3. Покупатель имеет право редактировать регистрационную информацию о себе. Продавец. Продавец
        обязуется не сообщать данные Покупателя, указанные при регистрации на сайте <a href="http://carp58.ru"> carp58.ru</a> и при оформлении
        Заказа, лицам, не имеющим отношения к исполнению Заказа. После завершения процесса регистрации на Сайте
        Покупателю присваиваются имя пользователя и пароль.</p>

      <p >3.4. Покупатель обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации.</p>

      <p >3.5. Продавец вправе заблокировать аккаунт Покупателя, в случае если при регистрации или в
        дальнейшем при изменении регистрационных сведений Покупатель указывает несуществующие контактные данные.</p>

      <p >4. Оформление и сроки выполнения Заказа</p>

      <p>4.1. Заказ оформляется Покупателем самостоятельно на Сайте. Подробности оформления Заказа описаны в
        разделе <a href="http://carp58.ru/order_create"> 'Правила оформления заказа'</a>.</p>

      <p >4.2. При оформлении Заказа Покупатель должен указать следующую информацию:</p>
      <ul>
        <li>
          Ф.И.О. (полностью)
          Покупателя;</li>
        <li>
          адрес доставки
          Заказа;</li>
        <li>
          адрес электронной
          почты;</li>
        <li>
          контактный телефон;</li>
        <li>
          форму
          оплаты;</li>
        <li>
          по требованию
          Продавца иную информацию, необходимую для исполнения обязательств Продавца перед
          Покупателем.</li>
      </ul>
      <p>Утвердив Заказ на выбранный Товар, Покупатель предоставляет Продавцу необходимую
        информацию в соответствии с указанным выше порядком.</p>

      <p>4.3. Продавец не несет ответственности за содержание и достоверность информации, предоставленной
        Покупателем при оформлении Заказа.</p>

      <p>4.4. Покупатель несет персональную ответственность за достоверность предоставленной информации при
        оформлении Заказа.</p>

      <p>4.5. После оформления заказа Покупателю предоставляется информация об ожидаемой дате передачи Заказа
        в пункт самовывоза либо Службу доставки. Эта дата означает срок, в который Продавец обязуется передать Заказ
        Покупателя в выбранную им при оформлении Заказа Службу доставки либо пункт самовывоза. Указанная дата зависит от
        времени, необходимого на обработку Заказа, наличия заказанных Товаров на складе Продавца.</p>

      <p>4.6. Если Покупателем оформлен Заказ на Товар в количестве, превышающем 5 единиц одного наименования
        Товара, и если на складе у Продавца отсутствует необходимое количество заказанного Товара, Продавец информирует
        об этом Покупателя посредством контактного телефона, указанного последним при регистрации на сайте. Покупатель
        вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, или аннулировать данную позицию
        Товара из Заказа, либо принять Заказ в сроки, согласованные с Продавцом.</p>

      <p>4.7. В случае отсутствия соответствующего Товара на складе Продавца, ожидаемый срок поставки такого
        Товара указывается на Сайте рядом с Товаром. Конечные сроки получения Товара зависят от адреса и региона
        доставки, работы конкретной Службы доставки либо пункта самовывоза, и напрямую не зависят от Продавца.</p>

      <p>4.8. Все информационные материалы, представленные на Сайте <a href="http://carp58.ru"> carp58.ru</a>, носят справочный характер
        и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках Товара,
        включая цвета, размеры и формы.</p>

      <p >4.9. В случае отсутствия заказанных Товаров на складе Продавца, в том числе по причинам, не
        зависящим от Продавца, Продавец вправе аннулировать указанный Товар из Заказа Покупателя и уведомить об этом
        Покупателя посредством контактного телефона, указанного последним при регистрации на сайте.</p>

      <p >4.10. В случае аннуляции Продавцом полностью оплаченного Заказа стоимость аннулированного Товара
        возвращается Продавцом Покупателю тем способом, которым Товар изначально был оплачен по требованию
        последнего.</p>

      <p >4.11. Указанная на Сайте цена на Товар, временно отсутствующий в продаже, не является окончательной.
        При появлении Товара в продаже цена может измениться.</p>

      <p >5. Доставка</p>

      <p >
        5.1. Способы доставки Товаров </span></span><a href="http://carp58.ru">указаны на Сайте</a>.
      </p>

      <p>
        5.2. Территория доставки Товаров – территория России.
      </p>

      <p>5.3. Продавец приложит все усилия для соблюдения сроков доставки, указанных на Сайте. Тем не менее,
        задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца. Срок
        исполнения Заказа зависит от наличия заказанных позиций Товара на складе Продавца и времени, необходимого на
        обработку Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем
        индивидуально в зависимости от характеристик и количества заказанного Товара.</p>

      <p>5.4. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента
        передачи Заказа непосредственно Покупателю или уполномоченному Продавцом лицу, либо доставки Товара до
        выбранного Покупателем перевозчика. Продавец не несет ответственности за деятельность Службы доставки в случае
        порчи, утери или кражи Товара во время транспортировки, кроме случая, когда доставка Товара была оплачена
        Покупателем на расчетный счет Продавца.</p>

      <p>5.5. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из его веса, региона и
        способа доставки и указывается на последнем этапе оформления Заказа на Сайте.</p>

      <p>5.6. При доставке Заказ вручается Покупателю, либо лицу, указанному в качестве Получателя Заказа.
        При невозможности получения Заказа, оформленного за наличный расчет указанными выше лицами, Заказ вручается
        лицу, готовому предоставить сведения о заказе (номер отправления и/или ФИО Получателя), а также оплатить
        стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.</p>

      <p>5.7. При передаче Заказа Покупатель должен проверить внешний вид и упаковку Заказа, количество
        Товара в Заказе, комплектность и ассортимент и подписать документ, подтверждающий получение Заказа. Сотрудник
        Продавца, осуществляющий выдачу Товара, не является техническим специалистом, не дает квалифицированных
        консультаций по принципам функционирования и работе изделия. После проставления подписи Покупателя в документе,
        подтверждающем получение Заказа, Продавец вправе отказать Покупателю в удовлетворении претензий к внешнему виду
        и упаковке Заказа, количеству Товара в Заказе, комплектности и ассортименту.</p>

      <p>5.8. Продавец вместе с Заказом дополнительно передает Покупателю копии сертификатов соответствия на
        доставляемый Товар, удостоверения качества, сертификаты о происхождении Товара, санитарно-эпидемиологические
        заключения о соответствии Товара государственным санитарно-эпидемиологическим правилам, а также иную техническую
        документацию, необходимую для данного вида Товара, только в случае, если Покупатель уведомил о своем желании
        получить указанные документы до момента передачи Заказа в службу доставки.</p>

      <p>5.9. Сроки, отведенные Продавцом для получения Заказа Покупателем, ограничены и указываются при
        оформлении Заказа на этапе выбора соответствующего способа доставки.</p>

      <p>5.10. Неполучение Заказа в указанные в п. 6.10. Договора сроки, считается отказом Покупателя от
        настоящего Договора и является основанием для аннулирования Заказа Продавцом. Денежные средства возвращаются
        Покупателю тем способом, которым изначально был оплачен Товар, за минусом расходов, фактически понесенных
        Продавцом. В случае предоставления Покупателем недостоверной информации об его контактных данных Продавец за
        ненадлежащее исполнение Заказа ответственности не несет.</p>

      <p>5.11. В случае ненадлежащего исполнения доставки Заказа по вине Продавца повторная доставка Заказа
        осуществляется за счет Продавца.</p>

      <p>5.12. Срок поставки для Товара, начинает исчисляться с даты поступления предоплаты на расчетный счет
        Продавца.</p>

      <p>6. Оплата Товара</p>

      <p>6.1. Цена на каждую позицию Товара отображена на Сайте <a href="http://carp58.ru"> carp58.ru</a></p>

      <p>6.2. В случае неверного указания цены заказанного Покупателем Товара, Продавец при первой
        возможности информирует об этом Покупателя для подтверждения Заказа по исправленной цене либо аннулирования
        Заказа. При невозможности связаться с Покупателем данный Заказ считается аннулированным. Если Заказ был оплачен,
        Продавец возвращает Покупателю оплаченную за Заказ сумму способом, которым изначально была произведена
        предоплата.</p>

      <p>6.3. Оплата исполненного Заказа осуществляется согласно способам оплаты Товара, указанным на Сайте в
        разделе <a href="http://carp58.ru/payment"> 'Условия оплаты'</a> .</p>

      <p>
        6.4. Товар подлежит 100% предоплате, Заказ принимается в обработку и до момента поступления денежных средств резервируется на складе.
      </p>

      <p> 7. Возврат Товара</p>

      <p>7.1. Возврат товара надлежащего качества.</p>

      <p>7.1.1. Возврат товара надлежащего качества Покупателем – физическим лицом:</p>

      <p>7.1.1.1. Покупатель вправе отказаться от Товара в любое время до его передачи, а после передачи
        Товара – в течение 14 (четырнадцати) дней, не считая дня его покупки. Возврат Товара надлежащего качества
        возможен в случае, если сохранены его товарный вид, потребительские свойства (Товар не был в употреблении,
        сохранены его потребительские свойства, товарный вид, упаковка, полная комплектация, пломбы, ярлыки), а также
        документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у Покупателя документа,
        подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие доказательства
        приобретения товара у данного продавца.</p>

      <p>7.1.1.2. Не подлежат возврату Товары надлежащего качества, имеющие нарушенную одноразовую
        упаковку.</p>

      <p>7.1.1.3. Покупатель не вправе отказаться от Товара надлежащего качества, имеющего
        индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его
        Покупателем.</p>

      <p >7.1.1.4. При отказе Покупателя от Товара согласно п. 7.1.1.1 настоящего Договора
        Покупатель обязуется возместить Продавцу все расходы на доставку возвращенного Товара. Возмещение расходов
        Продавца на доставку осуществляется следующим образом:</p>
      <ul>
        <li>Продавец возвращает
          стоимость Товара, за исключением расходов Продавца на доставку возвращенного от Покупателя Товара, не позднее
          чем через 10 (Десять) дней со дня получения Товара Продавцом;</li>
      </ul>
      <p />

      <p >7.2. Возврат товара ненадлежащего качества</p>

      <p>7.2.1. Возврат товара ненадлежащего качества Покупателем – физическим лицом.</p>

      <p >7.2.1.1. Покупатель вправе вернуть Товар ненадлежащего качества изготовителю, импортеру
        или Продавцу в течение гарантийного срока, срока годности, либо, если такой срок не установлен, в разумный срок,
        не превышающий года. Покупатель по своему выбору вправе:</p>
      <ul>
        <li>потребовать замены
          на Товар этой же марки (этой же модели и (или) артикула);</li>
        <li>потребовать замены
          на такой же Товар другой марки (модели, артикула) с соответствующим перерасчетом покупной
          цены;</li>
        <li>потребовать
          соразмерного уменьшения покупной цены;</li>
        <li>потребовать
          незамедлительного безвозмездного устранения недостатков товара или возмещения расходов на их исправление
          потребителем или третьим лицом;</li>
        <li>отказаться от
          исполнения настоящего Договора и потребовать возврата уплаченной за товар суммы.
        </li>
      </ul>
      <p class="P4">7.2.1.2. Покупатель, в случае обнаружения недостатков в отношении технически сложного Товара, вправе
        отказаться от исполнения настоящего Договора и потребовать возврата уплаченной за такой Товар суммы, либо
        предъявить требование о его замене на Товар этой же марки (модели, артикула) или на такой же товар другой марки
        (модели, артикула) с соответствующим перерасчетом покупной цены в течение 15 (Пятнадцати) дней со дня передачи
        Покупателю такого Товара. По истечении этого срока указанные требования подлежат удовлетворению только в
        следующих случаях:</p>
      <ul>
        <li>обнаружение
          существенного недостатка товара;</li>
        <li>нарушение сроков
          устранения недостатков товара;</li>
        <li>невозможность
          использования товара в течение каждого года гарантийного срока в совокупности более чем 30 (Тридцать) дней
          вследствие неоднократного устранения его различных недостатков.</li>
      </ul>
      <p>7.2.1.3. Перечень технически сложного Товара утверждается Правительством Российской
        Федерации.</p>

      <p >7.2.1.4. Продавец имеет право провести проверку качества Товара. Сроки проведения проверки качества
        устанавливаются, исходя из сроков, установленных Законом «О защите прав потребителей» от 07.02.1992 г. № 2300 -1
        для удовлетворения требований, предъявляемых Покупателем. В случае спора о причинах возникновения недостатков
        Товара Продавец обязан провести экспертизу Товара за свой счет.</p>

      <p >7.2.1.5. По результатам проверки качества или проведения экспертизы, в случае если будет доказано,
        что за данный недостаток отвечает Продавец, требование Покупателя подлежит удовлетворению.</p>

      <p >7.2.1.6. Если по результатам проверки или проведения экспертизы будет установлено, что недостаток не
        обнаружен, или Продавец не несет за него ответственности, Покупатель обязан компенсировать Продавцу затраты на
        проведение экспертизы и транспортные расходы.</p>

      <p >7.3. Возврат денежных средств</p>

      <p >7.3.1. Денежные средства подлежат возврату тем способом, который был использован Клиентом при оплате
        Товара. Возврат осуществляется через банковским или почтовым переводом по реквизитам, указанным Покупателем в
        заявлении.</p>

      <p>7.3.2. В случае если возврат денежных средств осуществляется неодновременно с возвратом
        товара Покупателя, возврат указанной суммы осуществляется Продавцом с согласия Покупателя одним из следующих
        способов:</p>
      <ul>
        <li>наличными денежными
          средствами по месту нахождения Продавца</li>
        <li>путем перечисления
          соответствующей суммы на банковский или иной счет Покупателя, указанный Покупателем.</li>
      </ul>
      <p >7.4. Порядок действий при нарушении продавцом условия об ассортименте (пересорте).</p>

      <p >7.4.1. В случае передачи Товара в нарушение условия об ассортименте не применяются правила ст. 468
        ГК РФ.</p>

      <p >7.4.2. В случае обнаружения в Заказе Товара, не соответствующего заказанному ассортименту
        (пересорт), Покупатель вправе при передаче заказа отказаться от данного Товара и потребовать замены на Товар в
        ассортименте, предусмотренном Заказом, либо возврата денежных средств за фактически непереданный Товар.</p>

      <p >7.4.3. Товар, переданный Покупателю в нарушение условия об ассортименте, подлежит возврату Продавцу.
        В случае если Покупатель принимает данный Товар, Продавец вправе потребовать от Покупателя оплаты данного Товара
        по цене, установленной Продавцом для данного Товара на Сайте на момент передачи Товара. Если фактически
        переданный Товар отсутствует в ассортименте Продавца, представленном на Сайте на момент передачи Товара, данный
        Товар оплачивается по цене, согласованной с Продавцом.</p>

      <p>7.4.4. Замена Товара, не соответствующего Заказу по ассортименту, осуществляется путем оформления
        нового Заказа по согласованию сторон – Продавцом или Покупателем.</p>

      <p >7.4.5. В случае невозможности осуществить замену Товара, Продавец уведомляет об этом Покупателя
        посредством контактного телефона, указанного Покупателем при регистрации, а денежные средства, фактически
        оплаченные за непереданный Товар, возвращаются в порядке, предусмотренном п.7.4.6.</p>

      <p >7.4.6. Денежные средства, оплаченные Покупателем за фактически непереданный Товар, подлежат возврату
        в течение 10 (десяти) дней с момента получения письменного заявления Покупателя о возврате денежных средств.
        Возврат уплаченной за Товар суммы осуществляется тем способом, которым была произведена оплата.</p>

      <p>7.5. Порядок действий при нарушении Продавцом условия о количестве.</p>

      <p>7.5.1. При передаче Заказа Покупатель обязан проверить количество Товаров в Заказе. Если при
        передаче Заказа Покупателем обнаружены расхождения по количеству Товара в Заказе, Покупатель обязан в
        присутствии представителя Продавца или перевозчика составить Акт о расхождении по количеству.</p>

      <p >7.5.2. Если Продавец передал Покупателю меньшее количество Товара, чем определено Заказом
        (недовложение), Покупатель при передаче Заказа вправе принять Товар в части, соответствующей Заказу, и
        потребовать передать недостающее количество Товара, либо, если недостающий Товар был оплачен, отказаться от
        Заказа в части недостающего Товара и потребовать возврата денежных средств за недостающий Товар.</p>

      <p>7.5.3. Передача недостающего Товара осуществляется посредством оформления нового Заказа по
        согласованию сторон – Продавцом или Покупателем, при условии предоставления Покупателем Акта о расхождении (Акта
        о недовложении), составленного в порядке п.7.5.1.</p>

      <p >7.5.4. В случае если недостающий Товар был предварительно оплачен Покупателем, возврат уплаченной за
        товар суммы осуществляется тем способом, которым была произведена оплата, по заявлению Покупателя. Если
        недостающий Товар не был оплачен Покупателем, он оплачивается любым доступным способом, выбранным Покупателем
        или Продавцом по согласованию с Покупателем, при оформлении нового Заказа.</p>

      <p>7.5.5. В случае невозможности передать недостающий Товар, Продавец уведомляет об этом Покупателя
        посредством контактного телефона, указанного Клиентом при регистрации, а денежные средства, фактически
        оплаченные за недостающий товар, возвращаются в порядке, предусмотренном п.7.5.6.</p>

      <p>7.5.6. Денежные средства, оплаченные Покупателем за недостающий Товар, подлежат возврату в течение
        10 (десяти) дней с момента получения письменного заявления Покупателя о возврате денежных средств, а также Акта
        о расхождении (Акта о недовложении) по количеству, составленного в порядке п.7.5.1. Возврат уплаченной за Товар
        суммы осуществляется тем способом, которым была произведена оплата.</p>

      <p >7.5.7. В случае нарушения Покупателем п.7.5.1 в части составления Акта, Продавец вправе отказать
        Покупателю в удовлетворении претензий по количеству переданного Товара.</p>

      <p >8. Гарантийные сроки и сроки годности.</p>

      <p >8.1. Товары, на которые не установлены гарантийные сроки</p>

      <p >8.1.1. Некоторые Товары имеют особенности или специальные требования по их эксплуатации. В отношении
        Товаров ненадлежащего качества, на которые гарантийные сроки и сроки годности не установлены, Покупатель вправе
        предъявить претензии к качеству Товара, если недостатки обнаружены в разумный срок, но в пределах 2-х лет со дня
        передачи их Покупателю (абз. 2, п. 1, ст. 19 Закона РФ "О защите прав потребителя").</p>

      <p >8.1.2. Согласно законодательству, Продавец отвечает за недостатки товара, на который не установлен
        гарантийный срок, если Покупатель докажет, что они возникли до передачи Товара Покупателю или по причинам,
        возникшим до этого момента.</p>

      <p >8.1.3. При возврате Товара, в случае если он является частью комплекта, возврат может осуществляться
        только полным комплектом.</p>

      <p >8.2. Товары, на которые установлены гарантийные сроки</p>

      <p >8.2.1. При передаче технически сложных товаров Покупателю одновременно передаются установленные
        изготовителем товара комплект принадлежностей и документы (технический паспорт или иной заменяющий его
        документ), гарантийный талон с указанием даты и места продажи, инструкция по эксплуатации и другие документы,
        если таковые имеются.</p>

      <p >
        8.2.2. Гарантийные талоны включены в комплектацию почти всех Товаров, относящихся к группе технически сложных товаров. На некоторые типы Товаров изготовителями не предоставляются гарантийные талоны.
      </p>

      <p >8.2.3. Покупатель вправе предъявить предусмотренные законом «О защите прав потребителей» требования
        к Продавцу в отношении недостатков Товара, только если они обнаружены в течение гарантийного срока или срока
        годности. Гарантийный срок Товара, а также срок его службы указывается в гарантийном талоне или ином документе
        по усмотрению изготовителя и исчисляется с момента передачи Товара Покупателю. Если день передачи установить
        невозможно, эти сроки исчисляются со дня изготовления Товара.</p>

      <p >8.2.4. Если установленный на Товар гарантийный срок составляет менее 2 (двух) лет, и недостатки
        Товара обнаружены Покупателем по истечении гарантийного срока, но в пределах двух лет, Покупатель вправе
        предъявить продавцу требования в отношении недостатков Товара, если докажет, что недостатки Товара возникли до
        его передачи Покупателю, или по причинам, возникшим до этого момента.</p>

      <p >8.2.5. В отношении Товара, на который установлен гарантийный срок, Продавец отвечает за недостатки
        Товара, если не докажет, что они возникли после передачи Товара Покупателю вследствие нарушения Покупателем
        правил использования, хранения или транспортировки Товара, действий третьих лиц или непреодолимой силы.</p>

      <p >8.2.6. Гарантийные обязательства аннулируются, если:</p>

      <p >8.2.6.1. Повреждены какие-либо защитные знаки фирмы-производителя или фирмы-продавца: стикеры,
        наклейки, голограммы, пломбы и др.</p>

      <p >8.2.6.2. Серийные номера на изделиях или их маркировка не соответствуют сведениям, обозначенным в
        гарантийном талоне.</p>

      <p >8.2.6.3. Изделия подверглись ремонту неуполномоченными лицами с нарушением требований производителя
        и норм техники безопасности.</p>

      <p >8.2.6.4. Дефекты вызваны изменениями вследствие применения товара с целью, не соответствующей
        установленной сфере применения данного товара, указанной в руководстве по эксплуатации.</p>

      <p >8.2.6.5. Изделие повреждено или вышло из строя в связи с нарушением правил и условий установки,
        подключения, адаптации под местные технические условия покупателя, эксплуатации, хранения и транспортировки.</p>

      <p >8.2.6.6. Оборудование повреждено вследствие природных стихий, пожаров, наводнений, землетрясений,
        бытовых факторов и прочих ситуаций, не зависящих от продавца.</p>

      <p >8.2.6.7. Изделие имеет выраженные механические и/или электрические повреждения, полученные в
        результате каких-либо действий покупателя либо сторонних лиц.</p>

      <p >8.2.6.8. Возникло повреждение, вызванное попаданием внутрь изделия посторонних предметов, веществ,
        жидкостей, насекомых или животных.</p>

      <p >8.2.6.9. Дефекты вызваны использованием расходных материалов, не соответствующих требованиям
        эксплуатации.</p>

      <p >8.2.6.10. Возникли повреждения, вызванные использованием нестандартных запчастей, несоблюдением
        сроков технического и профилактического обслуживания, если оно необходимо для данного изделия.</p>

      <p >9. Гарантии и ответственность</p>

      <p >9.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего
        использования Товаров, заказанных на Сайте.</p>

      <p >9.2. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности,
        вытекающие из его отношений с Покупателем, третьим лицам.</p>

      <p >9.3. Покупатель обязуется не использовать заказанный Товар в предпринимательских целях.</p>

      <p >9.4. Покупатель обязуется возместить Продавцу документально подтвержденные убытки в течение 5 (Пяти)
        банковских дней с момента получения письменной претензии.</p>

      <p >10. Конфиденциальность и защита персональной информации</p>

      <p >10.1. Предоставление информации Покупателем:</p>

      <p >10.1.1. При регистрации на Сайте Покупатель предоставляет следующую информацию:</p>
      <ul>
        <li>Ф.И.О. Покупателя
          либо Получателя Заказа</li>
        <li>адрес доставки
          Заказа</li>
        <li>адрес электронной
          почты</li>
        <li>контактный телефон.</li>
      </ul>
      <p >10.2. Предоставляя свои персональные данные при регистрации на сайте, Покупатель
        соглашается на их обработку Продавцом, в том числе и в целях продвижения Продавцом товаров и услуг. Покупатель
        соглашается, что все передаваемые им персональные данные в рамках настоящего Договора оферты относятся к группе
        общедоступных персональных данных.</p>

      <p >10.3. Использование информации предоставленной Покупателем и получаемой Продавцом.</p>

      <p >10.3.1 Продавец использует информацию:</p>
      <ul>
        <li>для регистрации
          Покупателя на Сайте;</li>
        <li>для выполнения
          своих обязательств перед Покупателем;</li>
        <li>
          для оценки и
          анализа работы Сайта;</li>
        <li>
          для определения
          победителя в акциях, проводимых Продавцом.</li>
      </ul>
      <p >10.3.2. Продавец вправе направлять Покупателю сообщения рекламно-информационного
        характера. Если Покупатель не желает получать рассылки от Продавца, Покупатель в информационном письме нажимает
        ссылку «Отписать от рассылки», тем самым подтверждает отказ от рассылки.</p>

      <p >11. Прочие условия</p>

      <p >11.1. К отношениям между Покупателем и Продавцом применяе тся право Российской Федерации.</p>

      <p>11.2. В случае возникновения вопросов и претензий со стороны Покупателя он должен обратиться через
        электронную почту support@carp58.ru. Все возникающее споры стороны будут стараться решить путем переговоров, при
        недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим
        законодательством РФ.</p>

      <p >11.3. Признание судом недействительности какого-либо положения настоящих Условий и правил не влечет
        за собой недействительность остальных положений.</p>

      <p >12. Реквизиты Продавца:</p>

      <p >Индивидуальный предприниматель Шафран И.М., ИНН 631926211542, ОГРНИП 308631907400072</p>

      <p >
        Юр. адрес: 443029, г. Самара, ул. Просека 6, д. 143, кв. 29,Почт. адрес: 440000, г. Пенза, ул. Володарского, д. 78,
      </p>

      <p >Р/с 40802810029170000055 В Филиале «Нижегородский» ОАО «Альфа-Банк» </p>

      <p >к/с 301018102000000000824, БИК 042202824</p>

      <p>
        тел: 89023430800, e-mail: info@carp58.ru
      </p>
  </div>
</div>
</div>