<div prd ='prd' class="product product-<%= tiles_product_view.id %> prd col-xs-12 col-sm-6 col-lg-4 col-md-4" style="float: left">

  <div itemscope itemtype="http://schema.org/Product"  class="thumbnail box-shadow-inset product-block">
    <div class="caption">
      <h5><a href="<%= shop_category_product_url(tiles_product_view.category, tiles_product_view   ) %>"> <span itemprop="name"><%= tiles_product_view.name %></span></a> </h5>
    </div>
    <%= link_to image_tag(tiles_product_view.title_image.url(:small), itemprop: 'image'), shop_category_product_url(tiles_product_view.category, tiles_product_view   ) %>

    <div class="contenthover contenthover-<%= tiles_product_view.id %>">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <a href="#" class="btn btn-default pull-left hidden-xs" data-toggle="modal" data-target="#productModal-<%= tiles_product_view.id %>" >Просмотр</a>
          <% if !tiles_product_view.count.present? || tiles_product_view.count == 0 %>
              <%= button_to 'Заказать', {controller: 'shop/order', action: :add, product_id: tiles_product_view.id}, {remote: true, method: :post, class: 'btn btn-danger pull-right add-to-cart'} %>
          <% else %>
              <%= button_to 'Купить', {controller: 'shop/order', action: :add, product_id: tiles_product_view.id}, {remote: true, method: :post, class: 'btn btn-success pull-right add-to-cart'} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="caption tiles_bottom" >
      <% if tiles_product_view.brand.present? %>
      <div class="row">
        <div class="col-xs-6"><b class="pull-left">Производитель:</b></div>

        <div class="col-xs-6">
          <p class="pull-right">
          <% if tiles_product_view.brand%>
            <a itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="pull-left" href="<%= shop_brand_url(tiles_product_view.brand) %>"> <span itemprop="name"><%= tiles_product_view.brand.title %></span></a>
          <% end %>
          </p>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-6"><b class="pull-left"></b></div>

        <div class="col-xs-6"><p class="pull-right"><%= calculate_count(tiles_product_view.count.to_i) %></p></div>
      </div>

      <div class="row">
        <div class="col-xs-12"><h4 style=" float: right;"><%= price_render tiles_product_view %> <small class='rub'>P</small></h4></div>

       </div>
    </div>
  </div>

</div>

<div class="modal fade product" id="productModal-<%= tiles_product_view.id %>" tabindex="-1" role="dialog" aria-labelledby="productModalLabel-<%= tiles_product_view.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="loginModalLabel"><%= link_to tiles_product_view.name, shop_category_product_url(tiles_product_view.category, tiles_product_view   ) %></h4>
      </div>
      <div prd ='prd'  class="modal-body">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <%= link_to image_tag(tiles_product_view.title_image.url(:medium)), shop_category_product_url(tiles_product_view.category, tiles_product_view   )  %>
          </div>

          <div class="col-sm-7 col-xs-12">
            <div class="caption">
              <div class="row">
                <div class="col-xs-6">
                  <h2 class="pull-left">
                    <%= price_render tiles_product_view %><small class='rub'>P</small></h2>
                </div>
                <div class="col-xs-6">
                  <h2 class="pull-right">
                    <% if !tiles_product_view.count.present? || tiles_product_view.count == 0 %>
                        <%= button_to 'Заказать', {controller: 'shop/order', action: :add, product_id: tiles_product_view.id}, {remote: true, method: :post, class: 'btn btn-danger pull-right add-to-cart'} %>
                    <% else %>
                        <%= button_to 'Купить', {controller: 'shop/order', action: :add, product_id: tiles_product_view.id}, {remote: true, method: :post, class: 'btn btn-success pull-right add-to-cart'} %>
                    <% end %>
                  </h2>
                </div>
              </div>



            </div>
            <div class="row">
              <div class="col-xs-12">
                <%= calculate_count(tiles_product_view.count.to_i) %>
              </div>
            </div>
            <% if tiles_product_view.category.present? && tiles_product_view.category.title.present? %>
                <div class="row">
                  <div class="col-xs-12">
                <b>Категория -</b> <%= link_to tiles_product_view.category.title, shop_category_products_url(tiles_product_view.category) %>
                  </div>
                </div>
            <% end %>
            <% if tiles_product_view.brand.present? && tiles_product_view.brand.title.present? %>
                <div class="row">
                  <div class="col-xs-12">
                <b>Производитель -</b> <%= link_to tiles_product_view.brand.title, shop_brand_url(tiles_product_view.brand) %>
                  </div>
                </div>
            <% end %>

            <% if tiles_product_view.article.present? %>
                <div class="row">
                  <div class="col-xs-12">
                    <b>Артикул -</b> <%= tiles_product_view.article %>
                  </div>
                </div>
            <% end %>
            <br/>
            <% if tiles_product_view.description.present? %>
                <div class="row">
                  <div class="col-xs-12">
                    <%= tiles_product_view.description.html_safe %>
                  </div>
                </div>
            <% end %>

            <% if tiles_product_view.specification_products.present? && tiles_product_view.specification_products.size > 0     %>
                <div class="page-header">
                  <h4>Технические характеристики</h4>

                </div>
                <% tiles_product_view.specification_products.each do |specification| %>
                    <div class="row">
                      <div class="col-xs-12">
                        <b><%= specification.specification.name if specification.specification.present? %></b> &mdash; <%= specification.value %><%= specification.specification.units if specification.specification.present?%>
                      </div>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>