<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style>
      body {
          color: #333;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          line-height: 1.42857;
      }

      h1, h2, h3, h4, h5, h6{
          color: inherit;
          font-family: inherit;
          font-weight: 500;
          line-height: 1.1;
      }


      img {
          padding: 20px 0 0 0;
          margin: 0 auto;
          width: 200px;
      }
  </style>
</head>
<body>
<div style="width: 970px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;">
  <div style="border-bottom: 1px solid #eee; margin: 40px 0 20px; padding-bottom: 9px;">
    <h1><% if @user && @user.fio %>Уважаемый <%= @user.fio %>!<% end %></h1>
  </div>

<p>По вашим данным был оформлен заказ</p>
<p>Ознакомится с подробностями  можно в <%= link_to 'личном кабинете', profile_root_url%> </p>
<p>Логин - <%= @user.email %></p>
<p>Пароль - <%= @password %></p>
<p style="color: red;">Обращаем ваше внимание что вам был с генерирован временный пароль!
  Обязательно поменяйте его в личном кабинете на удобный вам. Не сообщайте свои учетные данные третьим лицам.</p>

<h3>С уважением команда магазина "Carplux.ru"</h3>

    </div>
</body>
</html>