<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style>
    body {
      color: #333;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857;
    }

    h1, h2, h3, h4, h5, h6{
      color: inherit;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
    }

    .table {
      margin-bottom: 20px;
      max-width: 100%;
      width: 100%;
    }
    .table {
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;
    }

    .table > tbody > tr:nth-child(2n+1) > td, .table > tbody > tr:nth-child(2n+1) > th {
      background-color: #f9f9f9;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table> tbody > tr > td, .table > tfoot > tr > td {
      border-top: 1px solid #ddd;
      line-height: 1.42857;
      padding: 8px;
      vertical-align: top;
    }

    th {
      text-align: left;
    }

    p {
      font-size: 21px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
      margin-bottom: 20px;
    }
    img {
      padding: 20px 0 0 0;
      margin: 0 auto;
      width: 200px;
    }
    .info{
      text-align: center;
    }

    .test {
      margin-bottom: 20px;
      max-width: 100%;
      width: 100%;
      border-collapse:collapse;
      border-spacing:0;
      border: 1px solid #ddd;
      line-height: 1.42857;
    }
    .test td{border: 1px solid #ddd;padding: 8px;}
  </style>
</head>
<body>
<div style="width: 970px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;">
  <div  style="border-bottom: 1px solid #eee; margin: 40px 0 20px; padding-bottom: 9px;" >
    <h1> <% if @order.user && @order.user.fio %>Покупатель <%= @order.user.fio %>!<% end %>  заказ - №<%= @order.id %> принят в обработку!</h1>
  </div>

  <h3>Счет No <%= @order.id %> от <%= Russian::strftime(@order.created_at, '%d %B %Y') %></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Наименование
      </th>
      <th>
        Количество
      </th>
      <th>
        Цена
      </th>
      <th>
        Сумма
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @order.items.each do |item| %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.count %>
          </td>
          <td>
            <%= item.price %> Р
          </td>
          <td>
            <%= item.sum %>
          </td>
          <td>
          </td>
        </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="3">
        <b>Всего к оплате:</b>
      </td>
      <td>
        <b><%= @order.get_sum %> Р</b>
      </td>
      <td></td>
    </tr>
    </tfoot>
  </table>

</div>
</body>
</html>