<tr class="<%= Order::STATUSES_CLASS_INFO[profile_order_item.status.to_sym] %>">
  <td><%= profile_order_item.id %></td>
  <td><%= Order::STATUSES_VIEW_INFO[profile_order_item.status.to_sym] %></td>
  <td><%= profile_order_item.wishes %></td>
  <td><%= profile_order_item.get_sum %></td>
  <td><%= Russian::strftime(profile_order_item.created_at, '%d %B %Y') %></td>
  <td><%= link_to 'Подробнее', profile_order_path(profile_order_item) %></td>
</tr>