<div class="page-header">
  <h1>Личный кабинет <small>История заказов</small></h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Номер заказа</th>
    <th>Статус</th>
    <th>Пожелания</th>
    <th>Сумма</th>
    <th>Дата заказа</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="order_body">

  <%= render partial: 'profile_order_item', collection: @user_orders %>
  </tbody>
</table>
