<div class="page-header">
  <h1>Просмотр заказа <small>№ <%= @order.id %></small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ваши данные</h3>
  </div>
  <div class="panel-body">
    <p>Вас зовут: <%= @order.fio %></p>
    <p>Контакный телефон: <%= @order.phone %></p>
    <p>Адрес доставки: <%= @order.address %></p>
    <p>Дополнительные пожелания: <%= @order.wishes %></p>
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <td colspan="2" rowspan="2">
      Филиал «Нижегородский» ОАО «Альфа-Банк» г. Нижний

      Новгород<br/><br/>
      Банк получателя
    </td>
    <td>БИК</td>
    <td rowspan="2">
      042202824<br/><br/>

      30101810200000000824
    </td>
  </tr>
  <tr>
    <td>Сч. No</td>
  </tr>
  <tr>
    <td>ИНН 631926211542</td>
    <td>КПП</td>
    <td rowspan="2"><br/><br/>Сч. No</td>
    <td rowspan="2"><br/><br/>40802810029170000055</td>
  </tr>
  <tr>
    <td colspan="2">
      Индивидуальный предприниматель Шафран Игорь Михайлович<br/>
      Получатель
    </td>
  </tr>
</table>

<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Наименование
    </th>
    <th>
      Количество
    </th>
    <th>
      Цена
    </th>
    <th>
      Сумма
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @order.items.each do |item| %>
      <tr>
        <td>
          <%= item.product.name %>
        </td>
        <td>
          <%= item.count %>
        </td>
        <td>
          <%= item.price %> Р
        </td>
        <td>
          <%= item.sum %>
        </td>
        <td>
        </td>
      </tr>
  <% end %>
  </tbody>

  <tfoot>
  <%= render partial: 'profile_order_footer', locals: {order: @order} %>
  </tfoot>
</table>
