<div class="page-header">
  <h1>Просмотр заказа <small>№ <%= @order.id %></small></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ваши данные</h3>
  </div>
  <div class="panel-body">
    <p>Вас зовут: <%= best_in_place @order, :fio, as: :input, url: [:admin, @order]  %></p>
    <p>Контакный телефон: <%= best_in_place @order, :phone, as: :input, url: [:admin, @order] %></p>
    <p>Адрес доставки: <%= best_in_place @order, :address, as: :input, url: [:admin, @order] %></p>
    <p>Дополнительные пожелания: <%= best_in_place @order, :wishes, as: :textarea, url: [:admin, @order] %></p>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Наименование
    </th>
    <th>
      Заказанно
    </th>
    <th>
      В наличии
    </th>
    <th>
      Цена
    </th>
    <th>
      Сумма
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @order.items.each do |item| %>
      <tr>
        <td>
          <%= item.product.name %>
        </td>
        <td>
          <%= item.count %>
        </td>
        <td>
          <%= item.product.count.present? ? item.product.count : '0' %>
        </td>
        <td>
          <%= item.price %> Р
        </td>
        <td>
          <%= item.sum %>
        </td>
        <td>
        </td>
      </tr>
  <% end %>
  </tbody>

  <tfoot>
  <%= render partial: 'profile_order_footer', locals: {order: @order} %>
  </tfoot>
</table>
