<% title 'События' %>
<div class="page-header white-page">
  <h1>События</h1>
</div>
<div class="row">

  <div class="col-xs-12 col-md-12">
    <% @news.each do |news| %>

        <div class="blog-post white">
          <div itemscope itemtype="http://schema.org/Article" class="media" style="vertical-align: baseline">
            <a class="pull-left" href="<%= news_url(news) %>">
              <%= image_tag news.title_image.url(:medium), itemprop: 'image'  %>
            </a>

            <div class="media-body">
              <h3 class="media-heading"><a href="<%= news_url(news.id)%>"> <span itemprop="name"><%= news.title %></span></a></h3>
              <p itemprop="articleBody"><%= truncate(strip_tags(news.description), :length => 250) %></p>

              <span itemprop="datePublished" content="2014-10-12" class="News Date"><%= Russian::strftime(news.created_at, "%d %b %Y") %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
