<% title 'Фотогалерея' %>


<div class="page-header white-page">
  <h1>Фотогалерея</h1>
</div>
<div id="thumbs" class="row">
  <% @images.each do |image| %>
  <div class="col-xs-12 col-md-4 img-g popup-gallery">
    <a href="<%= image.image.url(:big) %>" class="thumbnail" data-title="<%= image.name %>" data-lightbox="roadtrip">

      <%= image_tag image.image.url(:medium) %>
    </a>
  </div>
      <% end %>
</div>