<div class="row row-offcanvas row-offcanvas-right">

  <div role="navigation" id="sidebar" class="col-xs-4 col-sm-2 sidebar-offcanvas">
    <%= render_navigation(:context => :main, :level => 2)  %>
  </div><!--/span-->
  <div id="product-list"  class="col-xs-12 col-sm-10">
    <% @products.each do |product| %>
        <div class="product product-<%= product.id %> col-sm-6 col-md-4" style="float: left">

          <div class="thumbnail shadow-radial">
            <div class="caption">
              <h4><%= link_to product.name, shop_category_product_url(product.category, product   ) %> <small>(<%= link_to product.brand.title, shop_brand_url(product.brand)%> )</small></h4>
            </div>
            <%= image_tag product.title_image.url(:medium) %>

            <div class="contenthover contenthover-<%= product.id %>">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <a href="#" class="btn btn-default pull-left" data-toggle="modal" data-target="#productModal-<%= product.id %>" >Быстрый просмотр</a>
                  <a href="#" class="btn btn-success pull-right" >Купить</a>
                </div>
              </div>
            </div>

            <div class="caption" style="text-align: right">
              <h3><%= product.price %> <small class='rub'>P</small></h3>

            </div>
          </div>

        </div>

        <div class="modal fade product" id="productModal-<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="productModalLabel-<%= product.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="loginModalLabel"><%= link_to product.name, shop_category_product_url(product.category, product   ) %></h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-7">
                    <%= image_tag product.title_image.url(:big) %>
                  </div>
                  <div class="col-sm-5">
                    <%= product.description.html_safe if product.description %>
                    <div class="caption">
                      <h2><%= product.price %> <small class='rub'>P</small><a href="#" class="btn btn-success pull-right">Купить</a></h2>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div><!--/span-->


</div>