<div class="row white-page">
  <div class="col-sm-12">
    <h2>Восстановление пароля</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, :class => 'form-horizontal'}) do |f| %>
        <%= f.error_notification %>

        <div class="form-group">
          <%= f.label :email, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-4">
            <%= f.input_field :email, required: true, autofocus: true, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.button :submit, "Восстановить", :class => 'btn btn-default' %>
          </div>
        </div>
    <% end %>

    <div class="form-group white-page">
      <div class="col-sm-offset-2 col-sm-10">
        <%= render 'users/shared/links' %>
      </div>
    </div>
  </div>
</div>