<div class="panel panel-default product-panel">
  <div class="panel-body">
<!--<div class="row product_list_item">-->
<div class="row" prd ='prd'>
  <div class="col-xs-4 col-sm-5 col-md-3">
    <%= link_to image_tag(product_list_view.title_image.url(:small)), shop_category_product_url(product_list_view.category, product_list_view   ) %>
  </div>
  <div class="col-xs-6 col-sm-5 col-md-7">
    <h4><%= link_to product_list_view.name, shop_category_product_url(product_list_view.category, product_list_view   ) %> </h4>
    <p >
      Производитель: <%= link_to product_list_view.brand.title, shop_brand_url(product_list_view.brand) if product_list_view.brand%>
      <%= truncate(product_list_view.description.html_safe, :length => 250) if product_list_view.description %>
    </p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    <p class="pull-right" ><%= calculate_count(product_list_view.count.to_i) %></p>
    <div class="clearfix"></div>
    <h2 class="pull-right"><%= price_render product_list_view %> <small class='rub'>P</small> </h2><br/>
    <% if !product_list_view.count.present? || product_list_view.count == 0 %>
        <%= button_to 'Заказать', {controller: 'shop/order', action: :add, product_id: product_list_view.id}, {remote: true, method: :post, class: 'btn btn-danger pull-right add-to-cart'} %>
    <% else %>
        <%= button_to 'Купить', {controller: 'shop/order', action: :add, product_id: product_list_view.id}, {remote: true, method: :post, class: 'btn btn-success pull-right add-to-cart'} %><br/>
    <% end %>


  </div>

</div>
</div>
</div>