<% title @category.parent.present? ? "#{@category.parent.title} - #{@category.title}" : @category.title %>
<% description  @category.meta_description %>
<% keywords @category.meta_keywords %>
<div class="row row-offcanvas row-offcanvas-right">

  <div role="navigation" id="sidebar" class="col-xs-4 col-sm-3 col-md-2 col-lg-2 sidebar-offcanvas hidden-xs">
    <%= render_navigation(:context => :main, :level => 2..4, :expand_all => true, :skip_if_empty => true) %>
  </div>
  <!--/span-->


  <div id="product-list" class="col-xs-12 col-sm-9 col-lg-10 col-md-10">


    <div class="page-header" style="margin: 0 0 20px;">
      <div class="row">

        <div class="col-xs-4 col-sm-6 col-lg-8 col-md-8">
          <%= form_tag shop_search_url, method: :get, :role => 'search', :id => 'search-form' do %>
              <div class="input-group">
                <%= text_field_tag :q, params[:q], :class => 'form-control search', :placeholder => 'Поиск' %>
                <span class="input-group-btn">
                    <%= submit_tag 'Найти', name: nil, :class => 'btn btn-default fishpassion' %>
                </span>
              </div>
          <% end %>
        </div>

        <div class="col-xs-3 col-sm-3 col-lg-2 col-md-2">
          <div class="dropdown pull-left ">
            <button class="btn btn-default dropdown-toggle fishpassion" type="button" id="brand_menu" data-toggle="dropdown">
              <%= params[:brand_id].present? ? Brand.find(params[:brand_id]).title : 'Все бренды' %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu fishpassion" role="menu" aria-labelledby="brand_menu">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="<%= shop_category_products_url(params[:category_id], view: params[:view]) %>">Все
                  бренды</a></li>
              <% @brands.each do |brand| %>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<%= shop_category_products_url(params[:category_id], brand_id: brand.id, view: params[:view]) %>"><%= brand.title %></a>
                  </li>
                  <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="?brand_id=<%#= brand.id %>"><%#= brand.title %></a></li>-->
              <% end %>

            </ul>
          </div>
        </div>

        <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
          <div class="btn-group pull-right">
            <a title="Просмотр списком" href="<%= shop_category_products_url(params[:category_id], brand_id: params[:brand_id], view: 'list') %>" class="btn btn-default glyphicon glyphicon-th-list <%= params[:view] == 'list' ? 'active' : '' %> fishpassion"></a>
            <a title="Просмотр плиткой" href="<%= shop_category_products_url(params[:category_id], brand_id: params[:brand_id]) %>" class="btn btn-default glyphicon glyphicon-th-large <%= params[:view] == 'list' ? '' : 'active' %> fishpassion"></a>
          </div>
        </div>
        <!--</div>-->
      </div>


    </div>
    <% if @category.description.present? %>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= @category.description.html_safe %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <% if params[:view] == 'list' %>
        <%= render :partial => 'product_list_view', :collection => @products %>
    <% else %>
        <%= render :partial => 'tiles_product_view', :collection => @products %>
    <% end %>

  </div>
  <!--/span-->
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>

</div>

<div><%= sape_links(2) %></div>
