<% title 'Результаты поиска' %>
<div class="row row-offcanvas row-offcanvas-right">

  <div role="navigation" id="sidebar" class="col-xs-4 col-sm-3 col-md-2 col-lg-2 sidebar-offcanvas hidden-xs">
    <%= render_navigation(:context => :main, :level => 2..4, :expand_all => true, :skip_if_empty => true) %>
  </div>
  <!--/span-->



  <div id="product-list" class="col-xs-12 col-sm-9 col-lg-10 col-md-10">


    <div class="page-header" style="margin: 0 0 20px;">
      <div class="row">
        <div class="col-xs-7 col-sm-9 col-lg-10 col-md-10">
          <%= form_tag shop_search_url, method: :get, :role => 'search', :id => 'search-form' do %>
              <div class="input-group">
                <%= text_field_tag :q, params[:q], :class => 'form-control search', :placeholder => 'Поиск' %>
                <span class="input-group-btn">
                    <%= submit_tag 'Найти', name: nil, :class => 'btn btn-default fishpassion' %>
                </span>
              </div>
          <% end %>
        </div>
        <div class="col-xs-5 col-sm-3 col-lg-2 col-md-2">
          <div class="btn-group pull-right">
            <a title="Просмотр списком" href="<%= shop_search_url(q: params[:q], view: 'list') %>" class="btn btn-default glyphicon glyphicon-th-list <%= params[:view] == 'list'? 'active': '' %> fishpassion"></a>
            <a title="Просмотр плиткой" href="<%= shop_search_url(q: params[:q]) %>" class="btn btn-default glyphicon glyphicon-th-large <%= params[:view] == 'list'? '': 'active' %> fishpassion"></a>
          </div>
        </div>
        <!--</div>-->
      </div>

    </div>

    <% if params[:view] == 'list' %>
        <%= render :partial => 'product_list_view', :collection => @products %>
    <% else %>
        <%= render :partial => 'tiles_product_view', :collection => @products %>
    <% end %>

  </div>
  <!--/span-->
  <%#= will_paginate @products, renderer: BootstrapPagination::Rails %>

</div>
