<% title @product.name %>
<% description  @product.meta_description %>
<% keywords @product.meta_keywords %>
<div itemscope itemtype="http://schema.org/Product">
<div class="page-header white-page">
  <h1 itemprop="name"><%= @product.name %> <small><script type="text/javascript" src="//yandex.st/share/share.js"
                                                          charset="utf-8"></script>
    <div style="float: right; " class="yashare-auto-init" data-yashareL10n="ru"
         data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter">

    </div></small></h1>
</div>

  <ol class="breadcrumb">
    <li><%= link_to 'Карпфишинг', shop_category_products_url(Category.roots.first) %></li>

    <% if @product.category.parent.present? && @product.category.parent.parent.present? %>
        <li><%= link_to @product.category.parent.title, shop_category_products_url(@product.category.parent) %></li>
    <% end %>

    <li><%= link_to @product.category.title, shop_category_products_url(@product.category) %></li>
    <li class="active"><%= @product.name %></li>

  </ol>

<div prd ='prd' class="product--panel" style="padding: 10px;">
  <div class="row">
    <div  class="col-sm-5 col-md-6col-md-4 popup-gallery">
      <a href="<%= image_url @product.title_image.url(:original) %>" class="thumbnail" data-title="<%= @product.name %>" >
      <%= image_tag @product.title_image.url(:big), itemprop: 'image'    %>
      </a>
    </div>
    <div class="col-sm-7 col-md-6">
          <div class="caption">
            <h2 itemprop="offers" itemscope itemtype="http://schema.org/Offer"> <span itemprop="price"><%= price_render @product %></span>
                <small class='rub'>P</small>
              <% if !@product.count.present? || @product.count == 0 %>
                  <%= link_to 'Заказать', {controller: 'shop/order', action: :add, product_id: @product.id}, {remote: true, method: :post, class: 'btn btn-danger pull-right add-to-cart'} %>
              <% else %>
                  <%= link_to 'Купить', {controller: 'shop/order', action: :add, product_id: @product.id}, {remote: true, method: :post, class: 'btn btn-success pull-right add-to-cart'} %>
              <% end %>
            </h2>
          </div>

      <div class="row">
        <div class="col-xs-12">
          <b>Наличие -</b> <%= calculate_count(@product.count.to_i) %>
        </div>
      </div>
      <% if @product.category.present? && @product.category.title.present? %>
          <div class="row">
            <div class="col-xs-12">
              <b>Категория -</b> <%= link_to @product.category.title, shop_category_products_url(@product.category) %>
            </div>
          </div>
      <% end %>
      <% if @product.brand.present? && @product.brand.title.present? %>
          <div class="row">
            <div class="col-xs-12">
              <b>Производитель -</b>
              <a itemprop="brand" itemscope itemtype="http://schema.org/Brand" href="<%= shop_brand_url(@product.brand) %>"> <span itemprop="name"><%= @product.brand.title %></span></a>
            </div>
          </div>
      <% end %>

      <% if @product.article.present? %>
          <div class="row">
            <div class="col-xs-12">
              <b>Артикул -</b> <%= @product.article %>
            </div>
          </div>
      <% end %>
      <br/>
      <% if @product.description.present? %>
          <div class="row">
            <div class="col-xs-12">
              <%= @product.description.html_safe %>
            </div>
          </div>
      <% end %>

      <% if @product.specification_products.present? && @product.specification_products.size > 0     %>
          <span itemprop="description">
          <div class="page-header">
            <h4>Технические характеристики</h4>

          </div>
          <% @product.specification_products.each do |specification| %>
              <div class="row">
                <div class="col-xs-12">
                  <b><%= specification.specification.name %></b> &mdash; <%= specification.value %><%= specification.specification.units if specification.specification.units %>
                </div>
              </div>
          <% end %>
          </span>
      <% end %>

    </div>
  </div>
</div>
</div>

<div><%= sape_links(3) %></div>
