<% title 'Блог' %>
<div class="page-header white-page">
  <h1>Рыбацкие страсти - блог</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">

    <% @posts.each do |post| %>

        <div class="blog-post white">
          <div itemscope itemtype="http://schema.org/Article" class="media" style="vertical-align: baseline">
            <a class="pull-left" href="<%= post_url(post) %>">
              <%= image_tag post.title_image.url(:medium), itemprop: 'image'  %>
            </a>

            <div class="media-body">
              <h3 class="media-heading"><a href="<%= post_url(post.id)%>"> <span itemprop="name"><%= post.title %></span></a></h3>
              <p itemprop="articleBody"><%= truncate(strip_tags(post.description), :length => 250) %></p>

              <p>
                <% post.tag_list.each do |tag| %>
                    <span class="label label-success tag"><%= link_to tag, tag_url(tag) %></span>
                <% end %>
              </p>
              <span itemprop="datePublished" content="2014-10-12" class="News Date"><%= Russian::strftime(post.created_at, "%d %b %Y") %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
