<% title @post.title %>
<%# content_for :description, @post.small_description %>
<%# content_for :keywords, @post.small_description %>
<div class="page-header white-page">
  <h1 class="media-heading"><%= @post.title %> </h1>

  <p>
    <% @post.tag_list.each do |tag| %>
        <span class="label label-success"><%= link_to tag, tag_url(tag) %></span>
    <% end %>
  </p>
</div>
<div class="row">
  <div class="col-xs-12">

    <div class="blog-post white">
      <div style="padding-bottom: 20px;">
        <div class="row">
          <div class="col-xs-12">
            <%= @post.description.html_safe %>
          </div>
        </div>
        <script type="text/javascript" src="//yandex.st/share/share.js"
                charset="utf-8"></script>
        <div style="float: right; " class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter">

        </div>
      </div>
    </div>
  </div>
</div>