<% title 'Блог' %>
<div class="page-header white-page">
  <h1>Рыбацкие страсти - блог</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <% @posts.each do |post| %>

        <div class="blog-post white">
          <div class="media" style="vertical-align: baseline">
            <a class="pull-left" href="<%= post_url(post) %>">
              <%= image_tag post.title_image.url(:medium) %>
            </a>

            <div class="media-body">
              <h3 class="media-heading"><%= link_to post.title, post %></h3>
              <p><%= truncate(strip_tags(post.description), :length => 250) %></p>

              <p>
                <% post.tag_list.each do |tag| %>
                    <span class="label label-success"><%= link_to tag, tag_url(tag) %></span>
                <% end %>
              </p>
              <span class="News Date"><%= Russian::strftime(post.created_at, "%d %b %Y") %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>