// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.active_admin {
  @import 'select2';
}
.cke_chrome{margin-left: 20% !important;}
.rich-image-preview{margin-left: 20% !important;}

.purr {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 250px;
  padding: 15px;
  background-color: rgba(155,0,0,0.7);
  border-radius: 5px;
  z-index: 9999;
  color: white;
  &:first-letter { text-transform: uppercase; }
}

.best_in_place{background-color: #DFF0D8!important; border-color:#D6E9C6 !important; display: block;}