/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require hover-min
 *= require nprogress
 *= require superfish
 *= require magnific-popup
 *= require jquery-ui/accordion
 *= require_self
 * require_tree .
 */
//@import 'layout/body'
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'TruthCYRBlack';
  src: url('/assets/truthcyr-black.eot');
  src: url('/assets/truthcyr-black.eot') format('embedded-opentype'),
  url('/assets/truthcyr-black.woff2') format('woff2'),
  url('/assets/truthcyr-black.woff') format('woff'),
  url('/assets/truthcyr-black.ttf') format('truetype'),
  url('/assets/truthcyr-black.svg#TruthCYRBlack') format('svg');
}
@font-face {
  font-family: 'TruthCYRBold';
  src: url('/assets/truthcyr-bold.eot');
  src: url('/assets/truthcyr-bold.eot') format('embedded-opentype'),
  url('/assets/truthcyr-bold.woff2') format('woff2'),
  url('/assets/truthcyr-bold.woff') format('woff'),
  url('/assets/truthcyr-bold.ttf') format('truetype'),
  url('/assets/truthcyr-bold.svg#TruthCYRBold') format('svg');
}

@font-face {
  font-family: 'TruthCYRLight';
  src: url('/assets/truthcyr-light.eot');
  src: url('/assets/truthcyr-light.eot') format('embedded-opentype'),
  url('/assets/truthcyr-light.woff2') format('woff2'),
  url('/assets/truthcyr-light.woff') format('woff'),
  url('/assets/truthcyr-light.ttf') format('truetype'),
  url('/assets/truthcyr-light.svg#TruthCYRLight') format('svg');
}

@font-face {
  font-family: 'TruthCYRMedium';
  src: url('/assets/truthcyr-medium.eot');
  src: url('/assets/truthcyr-medium.eot') format('embedded-opentype'),
  url('/assets/truthcyr-medium.woff2') format('woff2'),
  url('/assets/truthcyr-medium.woff') format('woff'),
  url('/assets/truthcyr-medium.ttf') format('truetype'),
  url('/assets/truthcyr-medium.svg#TruthCYRMedium') format('svg');
}

@font-face {
  font-family: 'TruthCYRRegular';
  src: url('/assets/truthcyr-regular.eot');
  src: url('/assets/truthcyr-regular.eot') format('embedded-opentype'),
  url('/assets/truthcyr-regular.woff2') format('woff2'),
  url('/assets/truthcyr-regular.woff') format('woff'),
  url('/assets/truthcyr-regular.ttf') format('truetype'),
  url('/assets/truthcyr-regular.svg#TruthCYRRegular') format('svg');
}

@font-face {
  font-family: 'TruthCYRThin';
  src: url('/assets/truthcyr-thin.eot');
  src: url('/assets/truthcyr-thin.eot') format('embedded-opentype'),
  url('/assets/truthcyr-thin.woff2') format('woff2'),
  url('/assets/truthcyr-thin.woff') format('woff'),
  url('/assets/truthcyr-thin.ttf') format('truetype'),
  url('/assets/truthcyr-thin.svg#TruthCYRThin') format('svg');
}

@font-face {
  font-family: 'TruthCYRUltra';
  src: url('/assets/truthcyr-ultra.eot');
  src: url('/assets/truthcyr-ultra.eot') format('embedded-opentype'),
  url('/assets/truthcyr-ultra.woff2') format('woff2'),
  url('/assets/truthcyr-ultra.woff') format('woff'),
  url('/assets/truthcyr-ultra.ttf') format('truetype'),
  url('/assets/truthcyr-ultra.svg#TruthCYRUltra') format('svg');
}



//body {
//    font-family: "TruthCYRRegular", "Helvetica Neue",Helvetica,Arial,sans, serif;
//    padding-top: 20px;
//    background: image-url('background.jpg') no-repeat scroll center top #002b60;
//    /*color: #eeeeee;*/
//}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  //  font-family: "TruthCYRMedium", "Helvetica Neue",Helvetica,Arial,sans, serif;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.jumbotron {
  background-color: transparent;
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.nav-justified {
  //background-color: #ffbb5a;
  //border: 1px solid #eb9a48;
  border-radius: 5px;
  //    font-family: TruthCYRLight;
  text-transform: uppercase;
}
.nav-justified > li > a {
  //background-color: #ffbb5a;
  //background-repeat: repeat-x;
  //border-bottom: 1px solid #eb9a48;
  //color: #5e8826;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
a, a:focus, a:hover {
  //color: #5e8826;
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
  //background-color: #fbcf70;
  background-image: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}

.nav-justified > li > a:hover, .nav-justified > li > a:focus {
  //background-color: #fbcf70;
  background-image: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0 none;
  border-radius: 0 0 5px 5px;
}
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    //border-left: 1px solid #eb9a48;
    //border-right: 1px solid #eb9a48;
  }
  .nav-justified > li:first-child > a {
    border-left: 0 none;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0 none;
  }
}
@media screen and (min-width: 768px) {
  .masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

//@media (max-width: 768px) {
//
//  .nav-justified > li > a {
//    font-size: 10px !important;
//    font-weight: normal !important;
//  }
//
//}
//
//@media (max-width: 480px) {
//
//  .nav-justified > li > a {
//    font-size: 10px !important;
//    font-weight: normal !important;
//  }
//
//}
//
//@media (max-width: 1000px) {
//
//  .nav-justified > li > a {
//    font-size: 10px !important;
//    font-weight: normal !important;
//  }
//
//}

.masthead {
  margin-bottom: 15px;
}
.margin-10{margin-left: 10px!important;}
.margin-20{margin-left: 20px!important;}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.navbar-login{
  margin: 0px !important;
}

.contenthover {
  padding: 10px;
  position: absolute;
  display: none;
  top: 100px;
  width: 98%;
  /*background: rgb(0, 0, 0); *//* fallback color */
  /*background: rgba(0, 0, 0, 0.4);*/
}

.product:hover .contenthover {
  display: block;
}

.tiles_bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
}
.thumbnail {
  position: relative;
  width: 100%;

}
.rub{ display: inline-block; font-size: 18px; line-height: 7px; border-bottom: 1px solid #000000; width:0.4em; }

.product .modal-dialog {
  width: 900px !important;
}

.main_content{
  /*padding: 10px;*/
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 0!important;
  padding-right: 0!important;
  //    background: rgb(54, 25, 25);  /*Fall-back for browsers that don't*/
  background: rgb(255, 255, 255);  /*Fall-back for browsers that don't*/
  /*support rgba */
  background: rgba(255, 255, 255, 0);
  /*filter:progid:DXImageTransform.Microsoft.gradient (startColorstr=#70ffffff,endColorstr=#70ffffff);*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background-color: #fff;*/
  /*opacity:0.55;*/
  /*filter:alpha(opacity=55);*/
}

.thumbnail{
  //  background: rgb(251, 207, 112);  /*Fall-back for browsers that don't*/
  background: rgb(255, 255, 255);  /*Fall-back for browsers that don't*/
  /*support rgba */
  background: rgba(255, 255, 255, 1);
  //  background: rgba(255, 255, 255, 0.6);
}

.thumbnail a, .thumbnail a:focus, .thumbnail a:hover {color: #000;}

.thumbnail h3, .thumbnail .rub{color: #000;}
.thumbnail .rub{border-bottom: 1px solid #000;}

.product-panel{
  background: rgb(255, 255, 255);  /*Fall-back for browsers that don't*/
  /*support rgba */
  background: rgba(255, 255, 255, 0.6);
}

.product-panel a, .product-panel a:focus, .product-panel a:hover {color: #000;}

.product-panel h3, .product-panel .rub, .product-panel .lead{color: #000;}
.product-panel .rub{border-bottom: 1px solid #000;}

.profile-nav{
  background: rgb(255, 255, 255);  /*Fall-back for browsers that don't*/
  /*support rgba */
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.profile-nav.nav > li > a, .profile-nav.nav > li > a:focus, .profile-nav.nav > li > a:hover{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.footer{
  padding-left: 40px;
  padding-right: 40px;
  //color: #ffffff;
}
.footer a, .footer a:focus, .footer a:hover{
  //color: #f1881a;
}



.carousel-control.left, .carousel-control.right{background: none !important; background-image: none !important; }
.carousel-caption{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #000000;
}
.product_list_item {
  border-bottom: 1px solid #b7b7b7;
  padding: 16px 0;
  position: relative;
}
.product-block {height: 375px;}

#sidebar .nav > li > a, #sidebar .nav > li > a:focus, #sidebar .nav > li > a:hover {
  //color: #fff;
}
//#sidebar .nav > li > a:focus, #sidebar .nav > li > a:hover {color: #468847; background-color: #ffbb5a;}
#sidebar .nav-pills > li.active > a, #sidebar .nav-pills > li.active > a:hover, #sidebar .nav-pills > li.active > a:focus {
  //background-color: #fbcf70;
  //color: #468847;
  font-weight: bold;
}

.fishpassion{
  //background-color: #ffbb5a;
  //color: #468847;
  //border: 1px solid #eb9a48;
}

.fishpassion > li > a{
  //color: #468847;
}

.fishpassion > li {
  //background-color: #ffbb5a;
  //color: #468847;
}

.fishpassion:hover, .fishpassion.active, .fishpassion:focus , .open > button.fishpassion{
  //background-color: #fbcf70 !important;
  //color: #468847!important;
}

ul.fishpassion:hover , ul.fishpassion.active, ul.fishpassion:focus {
  //background-color: #ffbb5a !important;
  //color: #468847 !important;
}

.fishpassion a:hover , .fishpassion a.active , .fishpassion a:focus{
  //background-color: #fbcf70 !important;
  //color: #468847!important;
}

.white{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
.blog-post{
  margin-bottom: 15px;
}
.white-page{
  //color: #ffffff;
}

.tag a{color: #ffffff; }

.form-group.required .control-label:after {
  content:"*";
  color:#a94442;
}

.product--panel{
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.root_cat{font-weight: bold; font-size: 14px;}
.cat{font-weight: normal;font-size: 14px;}

.sub_cat{font-weight: normal;font-size: 12px;}

.ul_cat, .ul_sub_cat{margin-top: 10px;}

ul.ul_sub_cat:has(li.sub_cat.active){display: block !important;}

// ul::before{display: block !important;}

.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  //background-color: #ffbb5a;
  //border: 1px solid #eb9a48;
  //color: #468847;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  //background-color: #fbcf70;
  //border-color: #eb9a48;
  //color: #468847;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  //background-color: #fbcf70;
  //border-color: #eb9a48;
  //color: #468847;
  cursor: default;
  z-index: 2;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  //background-color: #ffbb5a;
  //border-color: #eb9a48;
  //color: #777;
  cursor: not-allowed;}

#scroll-top{
  color: #d9534f!important;
  cursor: pointer;
  padding: 10px 20px;
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 0px;
  display: none;
  background-color: #000;
}
.counts{
  display: block;
  height: 35px;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  width: 37px;
}
.small{background: image-url('counts.png') 37px 0;}
.many{background: image-url('counts.png') 0px 0;}
.none{background: image-url('none.png')}
.img-g{height: 315px}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item {
    display: block;
    padding: 10px 15px ;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    cursor: pointer;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active &.ui-state-focus{
      //color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none !important;
    }
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: none;
  border: none;
  //color: #f1881a;
  font-weight: normal;
  cursor: pointer;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}
.ui-autocomplete-loading {
  background: white image-url('loading.gif') right center no-repeat;
}