/*
*= require bootstrap.min
*= require hover-min
*= require_self
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'TruthCYRBlack';
  src: url('/assets/truthcyr-black.eot');
  src: url('/assets/truthcyr-black.eot') format('embedded-opentype'),
  url('/assets/truthcyr-black.woff2') format('woff2'),
  url('/assets/truthcyr-black.woff') format('woff'),
  url('/assets/truthcyr-black.ttf') format('truetype'),
  url('/assets/truthcyr-black.svg#TruthCYRBlack') format('svg');
}
@font-face {
  font-family: 'TruthCYRBold';
  src: url('/assets/truthcyr-bold.eot');
  src: url('/assets/truthcyr-bold.eot') format('embedded-opentype'),
  url('/assets/truthcyr-bold.woff2') format('woff2'),
  url('/assets/truthcyr-bold.woff') format('woff'),
  url('/assets/truthcyr-bold.ttf') format('truetype'),
  url('/assets/truthcyr-bold.svg#TruthCYRBold') format('svg');
}

@font-face {
  font-family: 'TruthCYRLight';
  src: url('/assets/truthcyr-light.eot');
  src: url('/assets/truthcyr-light.eot') format('embedded-opentype'),
  url('/assets/truthcyr-light.woff2') format('woff2'),
  url('/assets/truthcyr-light.woff') format('woff'),
  url('/assets/truthcyr-light.ttf') format('truetype'),
  url('/assets/truthcyr-light.svg#TruthCYRLight') format('svg');
}

@font-face {
  font-family: 'TruthCYRMedium';
  src: url('/assets/truthcyr-medium.eot');
  src: url('/assets/truthcyr-medium.eot') format('embedded-opentype'),
  url('/assets/truthcyr-medium.woff2') format('woff2'),
  url('/assets/truthcyr-medium.woff') format('woff'),
  url('/assets/truthcyr-medium.ttf') format('truetype'),
  url('/assets/truthcyr-medium.svg#TruthCYRMedium') format('svg');
}

@font-face {
  font-family: 'TruthCYRRegular';
  src: url('/assets/truthcyr-regular.eot');
  src: url('/assets/truthcyr-regular.eot') format('embedded-opentype'),
  url('/assets/truthcyr-regular.woff2') format('woff2'),
  url('/assets/truthcyr-regular.woff') format('woff'),
  url('/assets/truthcyr-regular.ttf') format('truetype'),
  url('/assets/truthcyr-regular.svg#TruthCYRRegular') format('svg');
}

@font-face {
  font-family: 'TruthCYRThin';
  src: url('/assets/truthcyr-thin.eot');
  src: url('/assets/truthcyr-thin.eot') format('embedded-opentype'),
  url('/assets/truthcyr-thin.woff2') format('woff2'),
  url('/assets/truthcyr-thin.woff') format('woff'),
  url('/assets/truthcyr-thin.ttf') format('truetype'),
  url('/assets/truthcyr-thin.svg#TruthCYRThin') format('svg');
}

@font-face {
  font-family: 'TruthCYRUltra';
  src: url('/assets/truthcyr-ultra.eot');
  src: url('/assets/truthcyr-ultra.eot') format('embedded-opentype'),
  url('/assets/truthcyr-ultra.woff2') format('woff2'),
  url('/assets/truthcyr-ultra.woff') format('woff'),
  url('/assets/truthcyr-ultra.ttf') format('truetype'),
  url('/assets/truthcyr-ultra.svg#TruthCYRUltra') format('svg');
}

body {
  padding-top: 50px;
  ont-family: "TruthCYRRegular", "Helvetica Neue",Helvetica,Arial,sans, serif;
}
.sub-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.navbar-fixed-top {
  border: 0 none;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #428bca;
  color: #fff;
}
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
  display: inline-block;
}