<tr>
  <td>
    <%= item.product.name %>
  </td>
  <td>
    <%= form_tag url_for(controller: 'shop/order', action: :update_count, product_id: item.product.id), {method: :post, remote: true } do %>
        <%= number_field_tag :count, item.count %>
        <%= submit_tag 'Подтвердить', :class=> 'btn btn-success' %>
    <% end %>
  </td>
  <td>
    <%= item.price %> Р
  </td>
  <td>
    <%= item.sum %>
  </td>
  <td>
    <%= button_to 'Удалить', {controller: 'shop/order', action: :remove, product_id: item.product.id}, {remote: true, :class=> 'btn btn-danger'} %>
  </td>
</tr>