<div class="white">
<div class="page-header">
  <h1>Оформление заказа <small>Подтверждение заказа</small></h1>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    Подтвердите правильность заполнения
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ваши данные</h3>
  </div>
  <div class="panel-body">
    <p>Вас зовут: <%= @order.fio %></p>
    <p>Контакный телефон: <%= @order.phone %></p>
    <p>Адрес доставки: <%= @order.address %></p>
    <p>Дополнительные пожелания: <%= @order.wishes %></p>
  </div>
</div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Наименование
      </th>
      <th>
        Количество
      </th>
      <th>
        Цена
      </th>
      <th>
        Сумма
      </th>
      <th></th>
    </tr>
    </thead>

    <tbody>
        <% @order.items.each do |item| %>
            <tr>
              <td>
                <%= item.product.name %>
              </td>
              <td>
                <%= item.count %>
              </td>
              <td>
                <%= item.price %> Р
              </td>
              <td>
                <%= item.sum %>
              </td>
              <td>
              </td>
            </tr>
        <% end %>
    </tbody>

    <tfoot>
        <%= render partial: 'footer', locals: {order: @order} %>
    </tfoot>
  </table>
<div class="btn-group">
  <%= link_to 'Вернуться к редактированию', {controller: 'shop/order', action: :show}, :class => 'btn btn-danger' %>
  <%= link_to 'Изменить контактные данные', {controller: 'shop/order', action: :edit}, :class => 'btn btn-warning' %>
  <%= link_to 'Отправить заказ менеджеру', {controller: 'shop/order', action: :to_process}, {method: :post, :class => 'btn btn-success'} %>
</div>

</div>

