<div class="white">
<div class="page-header">
  <h1>Оформление заказа <small>Заполнение личных данных и способа доставки</small></h1>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
    Заполните личные данные
  </div>
</div>
<%= simple_form_for(@order, {url: url_for(controller: 'shop/order', action: :update), html: {:class => 'form-horizontal order-form'}}) do |f| %>

      <%= f.error_notification %>
    <div class="form-group required">
      <%= f.label :email, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :email,  autofocus: true, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group required">
      <%= f.label :phone, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :phone,  autofocus: true, required: true, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group required">
      <%= f.label :address, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :address,  autofocus: true, required: true, :class => 'form-control' %>
      </div>
    </div>


    <div class="form-group required">
      <%= f.label :fio, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :fio,  autofocus: true, required: true, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wishes, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :wishes,  autofocus: true, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
    <% @deliveries.each do |delivery| %>
    <div class="radio col-sm-offset-2 ">
      <label>
        <input type="radio" name="order[delivery_id]" <% if delivery.name == 'Самовывоз' %> checked <% end %> id="delivery_method<%= delivery.id %>" value="<%= delivery.id %>" >
        <%= delivery.name %>
      </label>
    </div>
    <% end %>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= link_to 'Вернуться к редактированию', {controller: 'shop/order', action: :show}, :class => 'btn btn-danger' %>
        <%= f.button :submit, 'Подтвердить' , :class => 'btn btn-success' %>
      </div>
    </div>

<% end %>
</div>

