<div class="white">
<div class="page-header">
  <h1>Оформление заказа <small>Редактирование позиций</small></h1>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
    Уточните количество
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Наименование
      </th>
      <th>
        Количество
      </th>
      <th>
        Цена
      </th>
      <th>
        Сумма
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody id="order_body">
    <%= render partial: 'item', collection: current_or_guest_user.cart.items %>
  </tbody>

  <tfoot id="order_footer">
    <%= render partial: 'footer', locals: {order: current_or_guest_user.cart} %>
  </tfoot>
</table>

<%= link_to 'Оформить', {controller: 'shop/order', action: :edit}, :class => 'btn btn-success' %>

</div>