$("#order_body").html('<%=j render partial: 'item', collection: @order.items %>');
$("#order_footer").html('<%=j render partial: 'footer', locals: {order: @order} %>');
$("nav#cart").html('<%=j render partial: 'layouts/cart' %>');
