<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" id="cart">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li class="active">
        <a href="#">&copy; Carplux.ru 2017</a>
      </li>
    </ul>

    <ul id="cart_menu" class="nav navbar-nav navbar-right">

      <% if current_or_guest_user && current_or_guest_user.cart.items.any? %>
          <li class="active">
            <a class="active" href="/shop/order/show" style="color: #d9534f">
              <span style="color: #d9534f" class="glyphicon glyphicon-shopping-cart"></span> Корзина

              <span class="badge"><%= current_or_guest_user.cart.items.count %></span>
            </a>
          </li>
          <li class="active text-warning">
                <%= link_to 'Оформить заказ', {controller: 'shop/order', action: :show}, :style=>'color: #d9534f' %>
          </li>
      <% else %>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-shopping-cart"></span> Корзина <span class="badge">0</span>
            </a>
          </li>
          <li>
                <a href="#">Оформить заказ</a>
          </li>
      <% end %>
    </ul>
    <p id="scroll-top" class="glyphicon glyphicon-arrow-up">Наверх</p>
  </div>
</nav>