<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="loginModalLabel">Вход</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <%= simple_form_for(:user, :url => user_session_path, html: {:class => 'form-horizontal'}) do |f| %>
                <%= f.error_notification %>
                <div class="form-group">
                  <%= f.label :email, 'E-mail', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-4">
                    <%= f.input_field :email, autofocus: true, :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :password, 'Пароль', :class => 'col-sm-4 control-label' %>
                  <div class="col-sm-4">
                    <%= f.input_field :password, :class => 'form-control' %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <div class="checkbox">
                      <input type="hidden" value="0" name="user[remember_me]">
                      <label >
                        <input id="user_remember_me" class="boolean optional" type="checkbox" value="1" name="user[remember_me]">Запомнить меня
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <%= f.button :submit, "Вход", :class => 'btn btn-default' %>
                  </div>
                </div>

            <% end %>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <%= link_to "Войти", new_registration_path(:user) %>
                <br/>
                <%= link_to "Забыли пароль?", new_password_path(:user) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>