<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%=  %>">
  <meta name="author" content="<%=  %>">
  <meta name="Keywords" content="<%=  %>">

  <title>Carplux.ru - система управления</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>
</head>
<body>
<nav class="navbar navbar-login" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <% if current_admin %>
          <li>
            <a rel="nofollow" href="<%= destroy_admin_session_url %>" data-method="delete"><span class="glyphicon glyphicon-log-out"> Выход</span></a>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container">

  <div class="masthead">
    <h3 class="text-muted">Carplux.ru - система управления</h3>
    <%= render_navigation(:context => :admin_old)  %>

  </div>
  <%= yield %>


  <!-- Site footer -->
  <div class="footer">
    <p>&copy; Рыбацкие Страсти 2014</p>
  </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

<%#= yield %>

</html>
