<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Carplux.ru">

  <meta name='yandex-verification' content='55d8d1e299a5a09e' />
  <meta name="google-site-verification" content="zFQFOEUJ_hKaaZTaKf5QUNsMbWUcPboeGai5U103rak" />

  <link rel="apple-touch-icon" href="<%= image_path('touch-icon-iphone-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path('touch-icon-ipad-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path('touch-icon-iphone-retina-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path('touch-icon-ipad-retina-152x152.png') %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <link href="<%= image_path('favicon.ico') %>" rel="shortcut icon" />
  <a href="#Top"></a>
</head>
<body>

<nav class="navbar navbar-login" role="navigation">
  <div class="container">
    <%#= link_to(image_tag('pc.png', :alt => "Рыбацкие страсти", :height => 40), root_url, :class=>'navbar-brand') %>
    <ul class="nav navbar-nav navbar-right profile-nav">
      <%# raise current_user.inspect
      %>
      <% if current_user  %>
          <li><a href="<%= profile_root_url %>">Личный кабинет</a></li>
          <li>
            <a rel="nofollow" href="<%= destroy_user_session_url %>" data-method="delete"><span class="glyphicon glyphicon-log-out"> Выход</span></a>
          </li>
      <% else %>
          <li><a href="<%= new_user_registration_url %>">Регистрация</a></li>
          <li>
            <a id="login" href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"> Вход</span></a>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container main_content">

  <div class="masthead">
    <%= render_navigation(:context => :main, :level => 1) %>


  </div>
  <!--<ol class="breadcrumb">-->
    <!--<li class="active">Друзья! Интернет-магазин открыт в тестовом режиме, просим извинения за возможные неудобства и ошибки. В кратчайшие сроки все обнаруженные недостатки и ошибки будут устранены. Все ваши пожелания будут учтены. Большое Вам спасибо за понимание и лояльность к нашему бренду! С самыми наилучшими пожеланиями.</li>-->
  <!--</ol>-->
  <%= render 'layouts/messages' %>
  <div class="clearfix visible-sm-block visible-xs-block"></div>
  <%= yield %>


  <!-- Site footer -->
  <div class="footer">
    <div class="row">
      <div class="col-sm-2">
        <h5><b>Информация</b></h5>
        <p>
            <%#= link_to 'Дисконтная программа', bonus_url %><br/>
            <%#= link_to 'Подарочные карты', cards_url %><br/>
            <%#= link_to 'Акции', actions_url %>
        </p>
      </div>
      <div class="col-sm-2">
        <h5><b>Покупателям</b></h5>
          <p>
            <%#= link_to 'Публичная оферта', public_offer_url %><br/>
            <%= link_to 'Условия оплаты', payment_url %><br/>
            <%= link_to 'Условия доставки', delivery_url %>
            <a href="http://www.carper.su/forum/showthread.php?t=21788" target="_blank">Отзывы</a>
          </p>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <h5><b>Интернет магазин Carplux.ru</b></h5>
        <p>Все права защищены. Полное или частичное копирование материалов запрещено, при согласованном использовании материалов необходима ссылка на <%= link_to 'carplux.ru', 'http://carplux.ru' %></p>
      </div>
    </div>
    <br/>
  </div>

</div>
<!-- /container -->



<%= render partial: 'layouts/cart' %>

<%= render partial: 'layouts/login_modal' %>

<% if Rails.env.production? %>

<div class="hidden-xs">
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
      (function(){ var widget_id = 'Oe7QaMPTAD';var d=document;var w=window;function l(){
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
  <!-- {/literal} END JIVOSITE CODE -->
</div>

<% end %>

</body>

</html>
