<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= %>">
  <meta name="author" content="<%= %>">
  <meta name="Keywords" content="<%= %>">

  <title>Рыбацкие Страсти - личный кабинет</title>
  <%= stylesheet_link_tag 'profile-application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>
</head>
<body>

<div role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Carplux.ru - личный кабинет</a>
    </div>
    <div class="collapse navbar-collapse">
      <%= render_navigation(:context => :profile) %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a rel="nofollow" href="<%= root_url %>">На главную</a>
        </li>
        <% if current_user %>
            <li>
              <a rel="nofollow" href="<%= destroy_user_session_url %>" data-method="delete"><span class="glyphicon glyphicon-log-out"> Выход</span></a>
            </li>
        <% end %>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 main">


      <%= yield %>



    </div>
  </div>
  <!-- Site footer -->
  <div class="footer">
    <p>&copy; Carplux.ru 2017</p>
  </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

<%#= yield %>

</html>
