<div class="row white-page">
<div class="col-sm-12">
<h2>Регистрация</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {novalidate: true, :class => 'form-horizontal registrations_user'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-group required">
      <%= f.label :email, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :email, autofocus: true, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :password, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :password, :class => 'form-control'%>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :password_confirmation, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.input_field :password_confirmation, :class => 'form-control' %>
      </div>
    </div>
      <div class="form-group required">
        <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input id="offer_agry" name="offer_agry" type="checkbox" value="accepted"> <label>Я подтверждаю своё согласие с условиями <%= link_to ' пользовательского соглашения', public_offer_url %></label>
        </label>
      </div>
      </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, 'Зарегистрироваться', :class => 'btn btn-default' %>
        </div>
      </div>

<% end %>
  <div class="form-group white-page">
    <div class="col-sm-offset-2 col-sm-10">
      <%= render 'users/shared/links' %>
    </div>
  </div>

</div>
</div>